.nav {
  display: flex;
  flex-direction: row;
  width: 100%;

  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav__rightbox {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.nav__leftbox {
  display: flex;
}
.nav__leftbox-img {
  width: 40px;
  padding: 5px;
  margin-right: 50px;
  margin-left: 50px;
}

.nav__rightbox-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-decoration: none;
  background-color: $color_background_2;
  color: $color_background_3;
}
.nav__rightbox-link:hover {
  background-color: $color_background_1;
}
