.portfolio {
  display: flex;
  flex-direction: column;
  padding: 150px;
  background-color: $color_background_2;
}
.portfolio__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 35px;
  color: $color_background_1;
}

.portfolio__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

img.portfolio__cards-card-img {
  width: 200px;
}

.portfolio__cards-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  width: 32%;
  padding: 35px;
  background-color: $color_background_3;
}
.portfolio__cards-card-btn {
  background-color: $color_background_2;
  border: none;
  border-radius: 1.6rem;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  width: 150px;
  opacity: 1;
  box-shadow: 5px 5px;
}
.portfolio__cards-card-btn:hover {
  cursor: pointer;
  border: solid 1px $color_background_5;
  background-color: white;
  color: $color_background_5;
}

.portfolio__cards-card:hover {
  background-color: $color_background_1;
  border: solid 5px $color_background_5;
  opacity: 1;
}
