/* color paletter: #4483 */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}

@import "nav.scss";

@import "header.scss";

@import "par.scss";

.circles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  margin-top: -100px;
  z-index: 1;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
}

@import "header.scss";

@import "myskills.scss";

@import "porfolio.scss";

@import "aboutme.scss";

@import "findmehere.scss";

@import "contactme.scss";

@import "footer.scss";
