/* color paletter: #4483 */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}

@import "nav.scss";

@import "header.scss";

@import "par.scss";

@import "circles.scss";

@import "myskills.scss";

@import "portfolio.scss";

@import "aboutme.scss";

@import "findmehere.scss";

@import "contactme.scss";

@import "footer.scss";
